# Habilitar el motor de reescritura
RewriteEngine On

# Habilitar CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type"

# Permitir acceso a archivos PHP
<FilesMatch "\.php$">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>
